@tailwind base;
@tailwind components;
@tailwind utilities;




.header__learning {
  @apply h-[62px] shadow-md;
}

.header__learning_box {
  @apply w-10/12 m-auto flex justify-between h-[62px] relative;

}

.header__learning_box .logo {
  @apply my-auto space-x-4;
}

.header__learning_box .logo #menu-btn {
  @apply md:hidden font-bold;
}

/* .header__learning_box .nav__learning-menu {
    @apply  my-auto ;
  } */
.nav__learning-menu {
  @apply top-[110%] left-[-110%] invisible md:visible md:opacity-100 my-auto rounded-full;
}

.nav__learning {
  @apply flex space-x-0 sm:space-x-3 my-auto md:space-x-12;
}

.nav__user {
  @apply space-x-0 sm:space-x-3 my-auto md:space-x-12 text-end;
}

.nav__learning-menu.active {
  @apply visible absolute top-[110%] left-[0%] w-full text-white opacity-100 my-auto rounded-full;

  transition: .2s linear;
  background: #4A235A;

}

.nav__learning-menu.active .nav__learning li {
  @apply py-1 text-center mx-auto
}
.nav__learning-menu.active .nav__learning  a{
  @apply text-white
}

.nav__learning a {
  @apply text-base font-sans font-normal md:font-bold text-black ;
}

.nav__user i {
  @apply text-amber-400;
}

.nav__user a {
  @apply text-amber-400 text-lg md:text-xl;
}

.nav__icon__user {
  @apply text-black !important;
}

/* and header */

.main__topic {
  @apply w-8/12 m-auto mt-[69px];
}


.box__video__topic{
  @apply w-8/12 m-auto mt-[69px]
}
.title__video__topic{
  @apply text-xl	font-bold
	
}

.box__video__topic p {
  @apply text-sm	font-bold
}


.box__btn__video{
  @apply text-center mt-[42px]	
}
.btn__previous , .btn__next{
  @apply border border-[#ccc]	w-[92px] h-[30px]
}
.box__btn__video i {
  @apply p-[5px]
}


.box__topic {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-[30px] lg:grid-cols-3
}

.img__topic {
  @apply col-span-1
}

.img__topic img {
  @apply rounded-lg w-[100%] max-w-full;
}

.desc__topic {
  @apply col-span-2 my-auto;
}

.title__topic {
  @apply text-xl font-bold font-sans;
}

.desc__topic p {
  @apply mt-[10px] text-base font-sans
}

.desc__topic button {
  @apply mt-[17px] border-4 rounded-full p-[8px] border-red-600
}

.box__review {
  @apply mt-[89px] w-8/12 m-auto mb-[261px]
}

.title__review {
  @apply text-2xl font-bold text-center
}

.list__detail__learning {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-[80px] mt-[52px] lg:grid-cols-3
}

.item__detail__learning img {
  @apply w-[100%] 
}

.item__detail__learning{
  @apply shadow-md  
}
.item__detail__learning{
  border: 1px solid #E5E7E9;
  transition: 0.5s;

}
.item__detail__learning:hover{
  transform: scale(1.1);
  z-index: 2;
  background-color: #F8F9F9;
  cursor: pointer;
}


.item__detail__learning img {
  @apply w-[283px] h-[200px] 	
}

.item__detail__learning h4 {
  @apply mt-[30px] mb-[30px] lg:mt-[50px] text-xl font-bold text-center
}