.header{
    @apply w-10/12 m-auto flex justify-between my-[33px] 
   
}
/* .header .logo{
    @apply font-bold text-[20px] text-black md:text-[32px]
   
} */
.header .logo a{
    @apply font-bold text-[20px] text-black md:text-[32px]
   
}
.header .menu{
    @apply my-auto lg:block
}
.header .menu ul {
    @apply flex space-x-3 text-[18px]
}

/* end header */
