
.signin__form .signin__main__left input{
    background-color: #512E5F;
    border-radius: 5px;
    margin-top: 24px;
    width: 478px;
    height: 50px;
}

input::placeholder{
    color: white;
}

.signin__form{
    background-color: #FCFCFC;
    border-radius: 5px;
    width: 1200px;
    height: 600px;
}

.signin__form button{
    background-color: #512E5F;
    border-radius: 5px;
    width: 150px;
}

.signin__main__left i {
    font-size: 28px;
    margin-left: 10px;
}

.signin__main__right .signin__main__right__text{
    padding: 10px 150px 10px 150px;
}
@media (min-width: 640px) { }
@media (min-width: 768px) { }
@media (min-width: 1024px) { }
@media (min-width: 1280px) {  }